body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 1500px) {
  .header__logo {
    font-size: 30px;
  }
  .about {
    font-size: 18px;
  }

  .our_application {
    font-size: 45px;
  }

  .ulli {
    font-size: 20px;
  }

  .btn {
    font-size: 0.875rem;
    padding: 11px 50px 13px 48px;
  }

  .process {
    font-size: 55px;
  }

  .pr {
    font-size: 20px;
  }

  .btn2 {
    top: -346px;
    padding: 11px 50px 13px 48px;
    font-size: 0.875rem;
    margin-left: 559px;
  }

  .wb {
    font-size: 55px;
  }

  .text {
    font-size: 1.2rem;
  }

  .first {
    top: -150px;
    font-size: 9.375rem;
    margin-left: 150px;
  }

  .second {
    font-size: 9.375rem;
    top: -350px;
    margin-left: 530px;
  }

  .bg {
    margin-left: 190px;
    top: -1220px;
  }

  .text1 {
    margin-left: 190px;
    top: -1210px;
  }

  .sp {
    margin-left: 570px;
    top: -1449px;
  }

  .text2 {
    margin-left: 570px;
    top: -1441px;
  }

  .third {
    top: -550px;
    margin-left: 950px;
    font-size: 9.375rem;
  }

  .tm {
    margin-left: 990px;
    top: -1681px;
  }

  .text3 {
    margin-left: 990px;
    top: -1675px;
  }

  .fourth {
    top: -300px;
    margin-left: 150px;
    font-size: 9.375rem;
  }

  .bi {
    margin-left: 190px;
    top: -1490px;
  }

  .text4 {
    margin-left: 190px;
    top: -1480px;
  }

  .fith {
    margin-left: 530px;
    top: -500px;
    font-size: 9.375rem;
  }

  .gg {
    margin-left: 570px;
    top: -1741px;
  }

  .text5 {
    margin-left: 570px;
    top: -1715px;
  }

  .sixth {
    top: -700px;
    margin-left: 950px;
    font-size: 9.375rem;
  }

  .gb {
    margin-left: 990px;
    top: -1970px;
  }

  .text6 {
    margin-left: 990px;
    top: -1950px;
  }

  .u-text1 {
    top: -420px;
    font-size: 1.5rem;
  }

  .u-list1 {
    margin: 49px auto 0;
    font-size: 1.5rem;
  }

  .u-text2 {
    margin-left: 420px;
    top: -430px;
    font-size: 3rem;
  }

  .u-image1 {
    height: 414px;
    width: 250px;
  }

  .u-list-item1 {
    width: 300px;
  }

  .btn-1 {
    padding: 8px 46px 7px 45px;
    margin-left: 10px;
    font-size: 0.875rem;
    top: -115px;
  }

  .u-image2 {
    height: 414px;
    width: 250px;
    top: -70px;
  }

  .u-container-layout-2 {
    margin-left: 548px;
  }

  .u-text3 {
    top: -156px;
  }

  .u-text4 {
    font-size: 0.975rem;
    top: -143px;
  }

  .container-layot-2 {
    margin-left: 345px;
  }

  .u-text5 {
    top: -143px;
    font-size: 1.4rem;
  }

  .u-text6 {
    top: -128px;
    font-size: 0.975rem;
  }

  .btn-2 {
    padding: 8px 46px 7px 45px;
    top: -97px;
    font-size: 0.875rem;
    margin-top: 24px;
    margin-left: 10px;
  }

  .u-image3 {
    width: 250px;
    top: -70px;
  }

  .u-section {
    margin-top: 60px;
  }

  .container-layot-3 {
    top: -1085px;
    margin-left: 680px;
  }

  .u-text-7 {
    font-size: 1.4rem;
  }

  .u-text-8 {
    font-size: 0.975rem;
    margin-left: 0;
  }

  .btn-3 {
    padding: 8px 46px 7px 45px;
    font-size: 0.875rem;
  }

  .u-text-9 {
    top: -420px;
    margin-left: 460px;
    font-size: 1.125rem;
  }

  .cell-1 {
    min-height: 300px;
  }

  .text-1 {
    font-size: 1.5em;
  }

  .text-2 {
    font-size: 2.45rem;
    left: -130px;
  }

  .read-more {
    left: -560px;
  }

  .cell-2 {
    min-height: 300px;
    top: -720px;
  }

  .text-3 {
    font-size: 1.5em;
  }

  .text-4 {
    left: -130px;
    font-size: 2.45rem;
  }

  .learn-more {
    left: -560px;
  }

  .u-text-2 {
    font-size: 1.25rem;
  }

  .u-text-3 {
    font-size: 1.25rem;
  }

  .btn-5 {
    font-size: 1.25rem;
  }

  .u-image {
    top: -620px;
  }

  .u-text-4 {
    font-size: 1.8rem;
  }

  .btn-6 {
    font-size: 0.9375rem;
    padding: 8px 68px;
  }

  .dtn2 {
    min-height: 402px;
  }

  .h1h {
    font-size: 3rem;
    left: 284px;
  }

  .linkfordownload {
    margin-left: -115px;
    top: 195px;
    padding: 23px 20px;
    font-size: 18px;
  }

  .linkfordownload2 {
    margin-left: 50px;
    font-size: 18px;
    padding: 23px 20px;
    top: 195px;
  }

  .addsomehelper {
    top: 250px;
    width: 440px;
    font-size: 18px;
    margin-left: -119px;
  }

  .get-in-touch {
    font-size: 33px;
  }

  .we-can-ensure-reliability {
    font-size: 18px;
  }

  .u-text-11 {
    margin-left: 470px;
    top: -305px;
    font-size: 19px;
  }

  .u-text-12 {
    margin-left: 470px;
    top: -285px;
    font-size: 16px;
  }

  .u-text-13 {
    font-size: 19px;
    margin-left: 470px;
  }

  .u-text-14 {
    margin-left: 470px;
    top: -230px;
    font-size: 16px;
  }

  .u-text-15 {
    font-size: 19px;
    margin-left: 470px;
  }

  .u-text-16 {
    margin-left: 490px;
    font-size: 16px;
  }

  .input-1 {
    width: 330px;
    height: 55px;
    margin-left: 750px;
    top: -645px;
  }

  .input-2 {
    width: 330px;
    height: 55px;
    margin-left: 750px;
    top: -635px;
  }

  .input-3 {
    width: 330px;
    height: 150px;
    margin-left: 750px;
    top: -625px;
  }

  .btn-9 {
    width: 330px;
    height: 40px;
    top: -605px;
    margin-left: 750px;
    font-size: 16px;
  }

  .u-text-17 {
    font-size: 16px;
    top: 70px;
  }

  .u-link {
    font-size: 15px;
    margin-left: 490px;
  }

  .created-with {
    top: -122px;
  }

  .website-builder-software {
    font-size: 15px;
    margin-left: 730px;
    top: -145px;
  }
}
@media (max-width: 1200px) {
  .about {
    font-size: 18px;
  }
  .u-text1 {
    left: 16px;
  }

  .u-image-4 {
    width: 363px;
    height: 341px;
    margin-left: -24px;
  }

  .u-text-4 {
    margin-left: 28px;
  }

  .btn-6 {
    margin-left: 31px;
  }

  .u-text3 {
    font-size: 1.4rem;
    margin: 25px auto 0;
    top: -160px;
  }

  .u-text4 {
    font-size: 0.975rem;
  }
}

@media only screen and (max-width: 998px) {
  .u-text1 {
    left: 12px;
  }
  .pr {
    margin-left: 0px;
  }

  .u-text-2 {
    max-width: 600px;
  }
  .u-image-4 {
    width: 360px;
    height: 342px;
    margin-left: -61px;
    top: -9px;
    position: relative;
  }

  .u-text-4 {
    left: -40px;
    top: -16px;
  }

  .btn-6 {
    margin-left: -15px;
  }

  .dtn2 {
    max-width: 912px;
  }

  .h1h {
    margin-left: -18px;
    position: relative;
  }
}

@media only screen and (max-width: 768px) {
  .process {
    width: max-content;
  }

  .u-text1 {
    left: 7px;
  }

  .u-image-4 {
    width: 360px;
    height: 342px;
    margin-left: -61px;
    top: -9px;
    position: relative;
  }

  .u-text-4 {
    margin-left: 22px;
    top: -16px;
  }
}

@media only screen and (max-width: 576px) {
  .header__logo {
    font-size: 50px;
  }
  .u-text1 {
    left: 5px;
  }

  .about {
    font-size: 25px;
  }

  .our_application {
    font-size: 55px;
  }

  .ulli {
    font-size: 25px;
  }

  .btn {
    padding: 19px 33px 23px 37px;
    font-size: 20px;
  }

  .process {
    font-size: 63px;
    left: -49px;
  }

  .pr {
    font-size: 23px;
    font-weight: 900;
  }

  .btn2 {
    margin-top: -23px;
  }

  .wb {
    font-size: 70px;
  }

  .text {
    font-size: 1.3rem;
  }

  .first {
    font-size: 13rem;
    top: -152px;
    margin-left: 189px;
  }

  .second {
    top: -386px;
    margin-left: 690px;
    font-size: 13rem;
  }

  .bg {
    top: -1478px;
    font-size: 35px;
    margin-left: 250px;
  }

  .text1 {
    font-size: 25px;
    margin-left: 260px;
    top: -1445px;
  }

  .sp {
    font-size: 35px;
    margin-left: 755px;
    top: -1714px;
  }

  .text2 {
    margin-left: 758px;
    top: -1683px;
    font-size: 25px;
  }

  .third {
    top: -152px;
    margin-left: 189px;
    font-size: 13rem;
  }

  .tm {
    font-size: 35px;
    margin-left: 250px;
    top: -1482px;
  }

  .text3 {
    margin-left: 258px;
    top: -1449px;
    font-size: 25px;
  }

  .fourth {
    top: -378px;
    margin-left: 691px;
    font-size: 13rem;
  }

  .bi {
    font-size: 35px;
    margin-left: 751px;
    top: -1709px;
    width: max-content;
  }

  .text4 {
    margin-left: 758px;
    top: -1672px;
    font-size: 25px;
  }

  .fith {
    top: -159px;
    margin-left: 187px;
    font-size: 13rem;
  }

  .gg {
    font-size: 35px;
    margin-left: 253px;
    top: -1495px;
  }

  .text5 {
    margin-left: 260px;
    top: -1456px;
    font-size: 25px;
  }

  .sixth {
    top: -395px;
    margin-left: 703px;
    font-size: 13rem;
  }

  .gb {
    margin-left: 765px;
    top: -1729px;
    font-size: 35px;
  }

  .text6 {
    margin-left: 775px;
    top: -1691px;
    font-size: 25px;
  }

  .u-text1 {
    top: -29px;
    font-size: 2rem;
  }

  .u-list1 {
    margin: 594px auto 0;
  }

  .u-text2 {
    margin-left: 321px;
    top: -11px;
    font-size: 4rem;
  }

  .u-image1 {
    height: 401px;
    width: 563px;
    top: -70px;
  }

  .u-list-item1 {
    width: 517px;
  }

  .u-text3 {
    top: -160px;
    margin: 84px auto 0;
    font-size: 2rem;
  }

  .u-text4 {
    font-size: 1.5rem;
  }

  .btn-1 {
    padding: 15px 95px 7px 96px;
    margin-left: -20px;
    font-size: 1rem;
    top: -64px;
  }

  .u-image2 {
    height: 442px;
    width: 442px;
    top: -158px;
  }

  .u-text5 {
    top: -182px;
    width: max-content;
    margin-left: 91px;
    font-size: 2.2rem;
  }

  .container-layot-2 {
    margin-left: 532px;
  }

  .u-text6 {
    top: -168px;
    width: 438px;
    font-size: 1.5rem;
  }

  .btn-2 {
    padding: 15px 95px 7px 96px;
    font-size: 1rem;
    margin-top: 24px;
    margin-left: 104px;
    top: -116px;
  }

  .u-image3 {
    width: 460px;
    margin-left: -97px;
    top: -119px;
  }

  .u-section {
    margin-top: 819px;
  }

  .container-layot-3 {
    top: -421px;
    margin-left: 357px;
  }

  .u-text-7 {
    font-size: 2.2rem;
  }

  .u-text-8 {
    margin-left: -91px;
    width: 467px;
    font-size: 1.5rem;
  }

  .btn-3 {
    padding: 15px 95px 7px 96px;
    font-size: 1rem;
  }

  .u-text-9 {
    top: 353px;
    margin-left: 480px;
    font-size: 1.6rem;
  }

  .cell-1 {
    min-height: 318px;
  }

  .text-1 {
    font-size: 2rem;
  }

  .text-2 {
    font-size: 2.7rem;
    left: -169px;
  }

  .read-more {
    font-size: 1.8rem;
    left: -647px;
  }

  .cell-2 {
    top: -737px;
    min-height: 318px;
  }

  .text-3 {
    font-size: 2rem;
  }

  .text-4 {
    font-size: 2.7rem;
    left: -171px;
  }

  .learn-more {
    left: -645px;
    font-size: 1.8rem;
  }

  .u-text-2 {
    font-size: 2rem;
  }

  .u-text-3 {
    font-size: 2rem;
  }

  .btn-5 {
    font-size: 2rem;
  }

  .u-image {
    top: -1625px;
  }

  .u-image-4 {
    width: 435px;
    height: 411px;
  }

  .u-text-4 {
    font-size: 2.5rem;
  }

  .btn-6 {
    font-size: 1.6rem;
    padding: 20px 41px;
  }

  .dtn2 {
    min-height: 476px;
  }

  .h1h {
    left: 224px;
    font-size: 4rem;
  }

  .linkfordownload {
    top: 241px;
    padding: 36px 44px;
    margin-left: -346px;
    font-size: 30px;
  }

  .u-icon {
    font-size: 1.5em;
  }

  .linkfordownload2 {
    top: 241px;
    padding: 36px 44px;
    font-size: 30px;
    top: 241px;
  }

  .addsomehelper {
    top: 303px;
    margin-left: -232px;
    font-size: 23px;
  }

  .get-in-touch {
    font-size: 60px;
  }

  .we-can-ensure-reliability {
    font-size: 25px;
  }

  .u-text-10 {
    font-size: 20px;
  }

  .u-text-11 {
    font-size: 30px;
    margin-left: 534px;
    top: -305px;
  }

  .u-text-12 {
    font-size: 23px;
    margin-left: 537px;
  }

  .u-text-13 {
    margin-left: 537px;
    font-size: 30px;
  }

  .u-text-14 {
    margin-left: 537px;
    top: -230px;
    font-size: 23px;
  }

  .u-text-15 {
    font-size: 30px;
    margin-left: 537px;
  }

  .u-text-16 {
    font-size: 23px;
    margin-left: 564px;
  }

  .input-1 {
    top: -758px;
    font-size: 26px;
    margin-left: 886px;
    width: 377px;
    height: 64px;
  }

  .input-2 {
    width: 377px;
    height: 64px;
    font-size: 26px;
    margin-left: 888px;
    top: -723px;
  }

  .input-3 {
    width: 377px;
    height: 193px;
    margin-left: 891px;
    top: -669px;
  }

  .btn-9 {
    width: 378px;
    height: 48px;
    font-size: 20px;
    top: -634px;
    margin-left: 894px;
  }

  .u-text-17 {
    font-size: 25px;
    top: 113px;
  }

  .u-link {
    font-size: 25px;
    margin-left: 313px;
  }

  .created-with {
    font-size: 25px;
    margin-left: -72px;
    top: -129px;
  }

  .website-builder-software {
    font-size: 25px;
    margin-left: 745px;
    top: -163px;
  }
}

@media only screen and (max-width: 320px) {
  .header__logo {
    font-size: 60px;
  }
  .pr {
    font-size: 26px;
  }

  .btn2 {
    padding: 19px 81px 21px 77px;
    font-size: 1.5rem;
    margin-left: 491px;
  }

  .u-text-2 {
    font-size: 2.3rem;
  }

  .u-image {
    top: -2109px;
    left: -83px;
  }

  .wb {
    font-size: 80px;
  }

  .second {
    top: -395px;
  }

  .fourth {
    top: -394px;
  }

  .sixth {
    top: -402px;
  }

  .text {
    font-size: 1.8rem;
  }

  .bg {
    top: -1472px;
  }

  .tm {
    top: -1466px;
  }

  .gg {
    top: -1477px;
  }

  .gb {
    top: -1721px;
  }

  .text1 {
    font-size: 26px;
    margin-left: 236px;
  }

  .text2 {
    font-size: 27px;
    margin-left: 749px;
    top: -1692px;
  }

  .text3 {
    margin-left: 236px;
    font-size: 27px;
  }

  .text4 {
    top: -1691px;
    font-size: 27px;
  }

  .text5 {
    font-size: 27px;
    margin-left: 235px;
  }

  .text6 {
    margin-left: 757px;
    top: -1701px;
    font-size: 27px;
  }
}

.box2 {
  background: white;
  width: 200px;
  height: 200px;
  position: relative;
  top: -700px;
}

* {
  margin: 0%;
  padding: 0%;
}

a {
  color: rgb(195, 196, 195);
  text-decoration: none;
}

.header__logo {
  font-weight: 700;
  color: rgb(195, 196, 195);
  font-family: "Alata", sans-serif;

  margin-left: 45px;
  padding: 20px;
}

header {
  background-color: white;
}

.b1ock {
  background-color: rgb(216, 237, 255);
  display: inline-block;
  width: max-content;
  height: 1200px;
}

.about {
  color: rgb(195, 196, 195);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0 auto 0 0;
  margin-left: 190px;
  margin-top: 140px;
}

.our_application {
  color: black;
  margin-left: 190px;
  margin-top: 15px;
  font-weight: 590;
}

ul {
  margin-left: 220px;
  margin-top: 15px;
  line-height: 2;
}

.btn {
  display: inline-block;
  vertical-align: top;
  margin-top: 24px;
  margin-left: 195px;

  font-weight: 400;
  letter-spacing: 2px;
  color: white;
  background-color: #2e937a;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.1s;
  color: 0.1s linear;
}

.btn:hover {
  background-color: rgb(41, 41, 41);
  color: rgb(255, 255, 255);
}

.img {
  width: 490px;
  margin-left: 470px;
  left: -91px;
  position: relative;
  top: -340px;
  background-color: #f1f9f7;
  border-radius: 13px;
}

.process {
  color: #2e937a;
  font-weight: 590;
  position: relative;
  margin-left: 380px;
  top: -401px;
  width: max-content;
}

.pr {
  line-height: 2;
  width: 1276px;
  padding: 10px;
  word-wrap: break-word;
  position: relative;
  text-align: center;
  top: -378px;
}

/* Button */

.btn2 {
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-weight: 400;
  letter-spacing: 2px;
  color: white;
  background-color: #2e937a;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
  transition: background 0.1s linear, color 0.1s linear;
  width: max-content;
}

.btn2:hover {
  background-color: rgb(41, 41, 41);
  color: rgb(255, 255, 255);
}

.textt {
  max-height: 0px;
}

.wb {
  margin-left: 200px;
  color: #2e937a;
  position: relative;
  top: -185px;
  width: max-content;
}

.text {
  line-height: 1.8;
  font-weight: 600;
  margin-left: 200px;
  color: #999999;
  position: relative;
  top: -175px;
  width: max-content;
}

/* Numbers */

.first {
  margin-top: 77px;
  background-image: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 0.8;
  color: #c8e8e0;
  position: relative;
  font-weight: 600;
}

.second {
  margin-top: 77px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: none;
  line-height: 0.8;
  color: #c8e8e0;
  position: relative;
  font-weight: 600;
}
.third {
  margin-top: 77px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: none;
  line-height: 0.8;
  color: #c8e8e0;
  position: relative;
  font-weight: 600;
}

.fourth {
  margin-top: 77px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: none;
  line-height: 0.8;
  color: #c8e8e0;
  position: relative;
  font-weight: 600;
}

.fith {
  margin-top: 77px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: none;
  line-height: 0.8;
  color: #c8e8e0;
  position: relative;
  font-weight: 600;
}

.sixth {
  margin-top: 77px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: none;
  line-height: 0.8;
  color: #c8e8e0;
  position: relative;
  font-weight: 600;
}

.bg {
  line-height: 1.2;
  position: relative;
  font-weight: 400;
  width: max-content;
}

.text1 {
  line-height: 1.8;
  font-weight: 300;
  position: relative;
  border: 1px solid rgb(255, 255, 255);
  height: 200px;
  width: max-content;
}

.sp {
  line-height: 1.2;
  position: relative;
  font-weight: 400;
  width: max-content;
}

.text2 {
  line-height: 1.8;
  font-weight: 300;

  position: relative;
  border: 1px solid rgb(255, 255, 255);
  height: 200px;
  width: max-content;
}

.tm {
  line-height: 1.2;
  position: relative;
  font-weight: 400;
  width: max-content;
}

.text3 {
  line-height: 1.8;
  font-weight: 300;
  position: relative;
  border: 1px solid rgb(255, 255, 255);
  height: 200px;
  width: max-content;
}

.bi {
  line-height: 1.2;
  position: relative;
  font-weight: 400;
}

.text4 {
  line-height: 1.8;
  font-weight: 300;
  position: relative;
  border: 1px solid rgb(255, 255, 255);
  height: 200px;
  width: max-content;
}

.gg {
  line-height: 1.2;
  position: relative;
  font-weight: 400;
  width: max-content;
}

.text5 {
  line-height: 1.8;
  font-weight: 300;
  position: relative;
  border: 1px solid rgb(255, 255, 255);
  height: 200px;
  width: max-content;
}

.gb {
  line-height: 1.2;
  position: relative;
  font-weight: 400;
  width: max-content;
}

.text6 {
  line-height: 1.8;
  font-weight: 300;
  position: relative;
  border: 1px solid rgb(255, 255, 255);
  height: 200px;
  width: max-content;
}

/* Our Features & Services. */

.features {
  text-align: center;
  position: relative;
  display: block;
  max-width: 660px;
}

.features.services {
  pointer-events: none;
  min-height: 4px;
  justify-content: center;
  width: 540px;
}

.u-text1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-style: normal;
  color: #2e937a;
  position: relative;
  font-weight: 400;
  line-height: 1.2;
  margin-left: 600px;
}

.u-text2 {
  text-transform: none;
  font-weight: 600;
  color: #2e937a;
  position: relative;
  display: table;
  align-self: flex-start;
  width: max-content;
}

.u-list1 {
  flex-direction: column;
}

.u-list-item1 {
  background-image: none;
  background-color: #ffffff;
  border-radius: 20px;
  height: 500px;
  position: relative;
  top: -450px;
  margin-left: 185px;
}

.container-layot-1 {
  position: relative;
  flex: 1;
  max-width: 100%;
  top: 6px;
}

.u-image1 {
  object-fit: contain;
  background-size: contain;
  top: -70px;
  position: relative;
}

.u-text3 {
  font-weight: 900;
  color: #2e937a;
  position: relative;
}

.u-text4 {
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 0;
  color: #376358;
  position: relative;
}

.btn-1 {
  vertical-align: top;
  margin-top: 24px;
  position: relative;
  font-weight: 400;
  letter-spacing: 2px;
  color: white;
  background-color: #2e937a;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
}

.btn-1:hover {
  background-color: rgb(41, 41, 41);
  color: rgb(255, 255, 255);
}

.container-layot-2 {
  background-image: none;
  background-color: #ffffff;
  border-radius: 20px;
  width: 294px;
  height: 500px;
  position: relative;
  top: -588px;
}

.u-image2 {
  object-fit: contain;
  background-size: contain;
  position: relative;
}

.u-text5 {
  font-weight: 900;
  color: #2e937a;
  position: relative;
}

.u-text6 {
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 0;
  color: #376358;
  position: relative;
}

.btn-2 {
  vertical-align: top;
  position: relative;
  font-weight: 400;
  letter-spacing: 2px;
  color: white;
  background-color: #2e937a;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
}

.btn-2:hover {
  background-color: rgb(41, 41, 41);
  color: rgb(255, 255, 255);
}

.container-layot-3 {
  background-image: none;
  background-color: #ffffff;
  border-radius: 20px;
  width: 300px;
  height: 500px;
  position: relative;
}

.u-image3 {
  height: 414px;
  object-fit: contain;
  background-size: contain;
  position: relative;
}

.u-text-7 {
  font-weight: 900;
  margin: 25px auto 0;
  color: #2e937a;
  position: relative;
  top: -160px;
}

.u-text-8 {
  margin-top: 20px;
  margin-bottom: 0;
  color: #376358;
  position: relative;
  top: -150px;
}

.btn-3 {
  vertical-align: top;
  margin-top: 24px;
  margin-left: 10px;
  position: relative;
  top: -120px;
  font-weight: 400;
  letter-spacing: 2px;
  color: white;
  background-color: #2e937a;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
}

.btn-3:hover {
  background-color: rgb(41, 41, 41);
  color: rgb(255, 255, 255);
}

.u-text-9 {
  font-weight: 300;
  line-height: 1.8;
  width: 412px;
  word-wrap: break-word;
  position: relative;
}

.btn-4 {
  color: #111111;
  display: inline;
  position: relative;
  left: 3px;
}

.u-section {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin-bottom: 60px;
  max-height: 0px;
}

.u-sheet {
  width: 340px;
  min-height: 310px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-layout-wrap {
  pointer-events: initial;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.u-layout {
  margin: -10px;
}

.u-layout-row {
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100%;
  max-width: 100%;
  flex: 1 1 100%;
}

.cell-1 {
  border-left: 0;
  border-right: 0;
  opacity: 0.8;
  border: 10px solid transparent;
  width: 550px;
  position: relative;
  display: flex;
  background-clip: padding-box;
  background-origin: padding-box;
  background-color: #fde8d1;
  background-image: none;
  border-radius: 20px;
  top: -400px;
  left: 100px;
}

.text-1 {
  margin-top: 0;
  font-weight: 600;
  color: #e59846;
  margin-left: 30px;
  margin-top: 60px;
  display: table;
  align-self: flex-start;
  white-space: nowrap;
}

.text-2 {
  font-weight: 600;
  margin: 20px 0 0;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.1;
  color: inherit;
  padding: 0;
  word-wrap: break-word;
  position: relative;
  bottom: -100px;
  white-space: nowrap;
}

.read-more {
  color: #e59846;
  font-weight: 700;
  margin: 20px 0 0;
  padding: 0;
  background-color: transparent;
  bottom: -205px;
  position: relative;
  display: table;
  white-space: nowrap;
  user-select: none;
  border-radius: 0;
  align-self: flex-start;
}

.cell-2 {
  border-left: 0;
  border-right: 0;
  opacity: 0.8;
  border: 10px solid transparent;
  width: 550px;
  position: relative;
  display: flex;
  background-clip: padding-box;
  background-origin: padding-box;
  background-color: #c8e8e0;
  background-image: none;
  border-radius: 20px;
  left: 700px;
}

.text-3 {
  margin-top: 0;
  font-weight: 600;
  color: #2e937a;
  margin-left: 30px;
  margin-top: 60px;
  display: table;
  align-self: flex-start;
  white-space: nowrap;
}

.text-4 {
  font-weight: 600;
  margin: 20px 0 0;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.1;
  color: inherit;
  padding: 0;
  word-wrap: break-word;
  position: relative;
  bottom: -100px;
  white-space: nowrap;
}

.learn-more {
  color: #2e937a;
  font-weight: 700;
  margin: 20px 0 0;
  padding: 0;
  background-color: transparent;
  bottom: -205px;
  position: relative;
  display: table;
  white-space: nowrap;
  user-select: none;
  border-radius: 0;
  align-self: flex-start;
}

/* SECTION THREE */

.u-section-3 {
  color: #111111;
  background-color: #fcf4eb;
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 1350px;
}

.u-sheet-1 {
  min-height: 10px;
  justify-content: center;
  width: 940px;
}

.cell-3 {
  opacity: 1;
  background-color: transparent;
  position: relative;
  background-clip: padding-box;
  background-origin: padding-box;
}

.u-text-1 {
  position: relative;
  margin-right: 293px;
  font-size: 3.75rem;
  font-weight: 550;
  margin: 0 416px 0 0;
  white-space: nowrap;
  margin-left: 150px;
  bottom: -80px;
}

.u-text-2 {
  font-weight: 300;
  line-height: 2.2;
  margin-left: 150px;
  bottom: -100px;
  position: relative;
  width: 660px;
}

.u-text-3 {
  color: #111111;
  display: inline;
  position: relative;
  margin-left: 150px;
  bottom: -130px;
  font-weight: 300;
  line-height: 2.2;
}

.btn-5 {
  color: #111111;
  display: inline;
  position: relative;
  margin-left: 10px;
  bottom: -130px;
  font-weight: 300;
  line-height: 2.2;
  border-width: 1;
}

/* ------#2 ------*/

.u-image {
  position: relative;
  margin-left: 900px;
}

.u-text-4 {
  color: #2e937a;
  font-weight: 500;
  width: max-content;
  position: relative;
}

.div-for-btn-6 {
  border: 1px solid black;
}
.btn-6 {
  font-weight: 700;
  background-color: #2e937a;
  color: #ffffff;
  border-radius: 6px;
  position: relative;
  top: 30px;
}

.btn-6:hover {
  background-color: rgb(41, 41, 41);
  color: rgb(255, 255, 255);
}

.group-1 {
  color: #111111;
  background-color: #ffffff;
  border-radius: 20px;
}

/* SECTION 4*/

.donwload {
  background-image: none;
  min-height: 350px;
  color: #111111;
  background-color: #c8e8e0;
  text-align: center;
  width: 1352px;
}

.dtn2 {
  border-left: 0;
  border-right: 0;
  border: 10px solid transparent;
  width: 940px;
  position: relative;
  display: flex;
  background-clip: padding-box;
  background-origin: padding-box;
  background-color: #fff;
  background-image: none;
  border-radius: 30px;
  top: -175px;
  margin-left: 190px;
}

.h1h {
  font-weight: 600;
  top: 80px;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.1;
  position: relative;
  text-align: center;
}

.u-icon {
  color: rgb(255, 255, 255);
  position: relative;
  display: inline;
  line-height: inherit;
  font-size: 1em;
  fill: currentColor;
  vertical-align: middle;
  white-space: nowrap;
}

.u-container1 {
  position: relative;
  flex: 1;
  max-width: 100%;
  box-sizing: border-box;
  display: block;
  text-align: left;
}

.linkfordownload {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 2px;
  font-weight: 700;
  background-color: #2e937a;
  color: #ffffff;
  border-radius: 10px;
  position: relative;
  border-width: 6px;
  border-style: solid;
  border-color: #fef4e9;
}

.linkfordownload:hover {
  border-color: #fad3aa;
}

.linkfordownload2 {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 2px;
  font-weight: 700;
  background-color: #2e937a;
  color: #ffffff;
  border-radius: 10px;
  position: relative;
  border-width: 6px;
  border-style: solid;
  border-color: #fef4e9;
}

.linkfordownload2:hover {
  border-color: #fad3aa;
}

.addsomehelper {
  position: relative;
  text-align: center;
}

/* section 9 */

.u-section-9 {
  color: #111111;
  background-color: #c8e8e0;
  background-image: none;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  width: 1352px;
}

.u-sheet-2 {
  pointer-events: none;
  min-height: 100px;
  width: 940px;
  position: relative;
  display: block;
}

.u-layout-wrap-2 {
  pointer-events: initial;
  position: relative;
}

.u-layout-2 {
  box-sizing: border-box;
}

.u-layout-row-2 {
  flex-direction: row;
  display: flex;
  min-height: 100%;
  max-width: 100%;
  flex-wrap: wrap;
}

.u-layout-cell-2 {
  max-height: 350px;
  position: relative;
  background-clip: padding-box;
  background-origin: padding-box;
}

.u-container-layout-2 {
  padding: 30px;
  position: relative;
  flex: 1;
  max-width: 100%;
}

.get-in-touch {
  color: #2e937a;
  margin-left: -443px;
  top: 43px;
  position: relative;
}

.we-can-ensure-reliability {
  margin-left: -442px;
  position: relative;
  top: 80px;
  line-height: 1.8;
  font-style: italic;
  font-weight: 900;
}

.u-text-10 {
  margin-left: -437px;
  top: 115px;
  position: relative;
  line-height: 1.8;
}

.u-layout-cell-2 {
  min-height: 100px;
}

.u-container-layout-3 {
  position: relative;
  padding: 30px;
}

.u-text-11 {
  color: #2e937a;
  position: relative;
  font-weight: 900;
}

.u-text-12 {
  position: relative;
}

.u-text-13 {
  top: -255px;
  color: #2e937a;
  position: relative;
}

.u-text-14 {
  position: relative;
}

.u-text-15 {
  top: -200px;
  color: #2e937a;
  position: relative;
}

.u-text-16 {
  top: -200px;
  position: relative;
}

.u-layout-cell-3 {
  min-height: 100px;
}

.u-container-layout-4 {
  padding: 30px 30px 30px 0;
  justify-content: flex-start;
}

.input-1 {
  border-radius: 12px;
  border-width: 2px;
  position: relative;
  border: none;
  text-align: start;
}

.input-2 {
  border-radius: 12px;
  border-width: 2px;
  position: relative;
  border: none;
  text-align: start;
}

.input-3 {
  border-radius: 12px;
  border-width: 2px;
  position: relative;
  border: none;
  text-align: start;
}

.btn-9 {
  background-color: #2e937a;
  color: #ffffff;
  border: none;
  position: relative;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.5s;
}

.btn-9:hover {
  background-color: #3b3b3b;
  color: #fff;
}

/* FOOOTER */

.u-sheet-3 {
  box-sizing: border-box;
  min-height: 254px;
  pointer-events: none;
  background-color: #333333;
  color: #fff;
  width: 1352px;
  min-height: 482px;
}

.u-text-17 {
  text-align: center;
  position: relative;
}

.website-templates {
  background-color: #333333;
  width: 1352px;
}
.u-link {
  color: #b8f0e2;
  position: relative;
  top: -100px;
  text-decoration: underline;
}

.created-with {
  color: #fff;
  text-align: center;
  position: relative;
}

.website-builder-software {
  color: #b8f0e2;
  position: relative;
  text-decoration: underline;
}
